.home{
    display:flex;
    flex-direction: column;
    height:100vh;
}
.home_header{
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.home_header a{
    margin-right: 10px;
    text-decoration: inherit;
    color:rgb(0,0,0,0.87);
    font-size:16px;
}
.home_header a:hover
{
    text-decoration: underline;
}
.home_headerRight{
    display:flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.home_headerRight > .MuiSvgIcon-root{
    margin-right: 20px;
}
.home_body>img{
    object-fit: contain;
    height: 100px;
}
.home_body{
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}